<app-confirm
  [message]="confirmMessage"
  [show]="showConfirm"
  (confirmed)="onConfirmDelete()"
  (cancelled)="onCancelDelete()"
></app-confirm>

<!-- Header Row -->
<div class="d-flex align-items-center justify-content-between mb-3">
  <h2
    *ngIf="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee'"
    class="fw-bold text-dark mb-0"
  >
    Product Management
  </h2>
  <h2 *ngIf="user?.role === 'customer'" class="fw-bold text-dark mb-0">
    Products
  </h2>
  <button
    *ngIf="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee'"
    class="btn btn-success"
    (click)="openModal()"
  >
    + Add Product
  </button>
</div>

<!-- product Table -->
<div class="card shadow-sm p-4">
  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Product Name</th>
          <th class="text-center">Category</th>
          <th class="text-center">Price (in INR)</th>
          <th class="text-center">Stock Available</th>
          <th
            *ngIf="user?.role === 'superadmin' ||user?.role === 'admin' || user?.role === 'employee'"
            class="text-center"
          >
            SKU
          </th>
          <th class="text-center">Manufacturer</th>
          <th class="text-center">Mfg. On</th>
          <th class="text-center">Expiry Date</th>
          <th
            *ngIf="user?.role === 'superadmin' ||user?.role === 'admin' || user?.role === 'employee'"
            class="text-center"
          >
            Is Active
          </th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index;">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ product.productName }}</td>
          <td class="text-center">{{ product.categoryName }}</td>
          <td class="text-center">{{ product.price }}</td>
          <td class="text-center">{{ product.quantity }}</td>
          <td
            *ngIf="user?.role === 'superadmin' ||user?.role === 'admin' || user?.role === 'employee'"
            class="text-center"
          >
            {{ product.sku}}
          </td>
          <td class="text-center">{{ product.manufacturer}}</td>
          <td class="text-center">{{ product.mfgOn}}</td>
          <td class="text-center">{{ product.expiryDate}}</td>
          <td
            *ngIf="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee'"
            class="text-center"
          >
            <span
              class="badge bg-{{ product.isActive ? 'success' : 'danger' }}"
              class="text-center"
            >
              {{ product.isActive ? 'Yes' : 'No' }}
            </span>
          </td>
          <td class="d-flex justify-content-center align-items-center">
            <button
              *ngIf="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee'"
              class="btn btn-sm btn-success me-2"
              (click)="openQuantityModal(product)"
            >
              <strong><i class="bi bi-plus-lg"></i></strong>
            </button>
            <button
              *ngIf="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee'"
              class="btn btn-sm btn-primary me-2"
              (click)="openModal(product)"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button
              *ngIf="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee'"
              class="btn btn-sm btn-danger"
              (click)="deleteProduct(product.productId)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
            <button
              *ngIf="user?.role === 'customer' && product.isActive; else outOfStock"
              class="btn btn-sm btn-primary"
              (click)="openQuantityModal(product)"
            >
              Place Order
            </button>

            <ng-template #outOfStock>
              <button
                *ngIf="user?.role === 'customer'"
                class="btn btn-sm btn-danger"
                disabled
              >
                Unavailable
              </button>
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="products.length === 0">
          <td
            [attr.colspan]="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee' ? 11 : 9"
            class="text-center"
          >
            No products found.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  *ngIf="isModalOpen"
  class="modal-backdrop fade show"
  (click)="closeModal()"
></div>

<div
  *ngIf="isQuantityModalOpen"
  class="modal-backdrop fade show"
  (click)="closeQuantityModal()"
></div>

<!-- product Modal -->
<div
  class="modal fade"
  tabindex="-1"
  [ngClass]="{ 'show d-block': isModalOpen }"
>
  <div class="modal-dialog modal-lg justify-content-center align-items-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Product Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="productName"
              />
            </div>
            <!-- Category -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Category</label>
              <select
                class="form-select"
                (change)="onCategoryChange($event)"
                [value]="productForm.value.categoryId"
              >
                <option value="" default selected disabled>
                  Select Category
                </option>
                <option *ngFor="let cat of categories" [value]="cat.categoryId">
                  {{ cat.categoryName }}
                </option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                formControlName="price"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Quantity</label>
              <input
                type="number"
                class="form-control"
                formControlName="quantity"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Manufacturer</label>
              <input
                type="text"
                class="form-control"
                formControlName="manufacturer"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">SKU</label>
              <input type="text" class="form-control" formControlName="sku" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Manufactured On</label>
              <input type="date" class="form-control" formControlName="mfgOn" />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Expiry Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="expiryDate"
              />
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Active</label>
              <input
                type="checkbox"
                class="form-check-input ms-2"
                formControlName="isActive"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button
          class="btn btn-primary"
          (click)="onSubmit()"
          [disabled]="productForm.invalid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Quantity Modal -->
<div
  class="modal fade"
  tabindex="-1"
  [ngClass]="{ 'show d-block': isQuantityModalOpen }"
>
  <div class="modal-dialog modal-sm justify-content-center align-items-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter Quantity</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeQuantityModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="quantityForm">
          <div class="mb-3">
            <label class="form-label">Quantity</label>
            <input
              type="number"
              class="form-control"
              formControlName="orderQuantity"
              min="1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeQuantityModal()">
          Cancel
        </button>
        <button
          *ngIf="user?.role === 'superadmin' || user?.role === 'admin' || user?.role === 'employee'"
          class="btn btn-primary"
          (click)="confirmPurchaseOrder()"
        >
          Confirm
        </button>
        <button *ngIf="user?.role === 'customer'" class="btn btn-primary" (click)="confirmSalesOrder()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
